@model ChaletMVC.Models.Guest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Guest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GuestName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FromDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chalet.ChaletName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chalet.ChaletName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
